
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar-thumb{
    width: 0;
    height: 0;
}
*::-webkit-scrollbar-track{
    height: 0;
    width: 0;
}


#header{
    display: flex;
    margin: 1.5em;
    justify-content: space-between;
    #navBar{
        display: none;
    }
    #authButtonDiv{
            display: none;
    }
    #menu{
        #menuBody{
            display: none;
            opacity: 0;
            position: fixed;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: white;
            z-index: 10;
            a{
                color: black;
                text-decoration: none;
                font-size: 2em;
            }
        }
        .menuIcons{
            position: relative;
            z-index: 11;
        }
    }
}

#bodyDiv{
    position: relative;
    #abslouteContentContainer{
        // border: 2px white solid ;
        position: relative;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 82vh;
        #top{
            display: flex;
            width: 100vw;
            height: 40vh;
            padding: 0 3.5em;
            padding-top: 2em;
            justify-content: space-between;
            #acheivementDivContainer{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .singleAchivement{
                    .number{
                        font-size: 2.8em;
                        font-weight: 900;
                    }
                    .number + p{
                        color: rgb(171, 167, 167);
                    }
                }
            }
            #LargeTextDiv{
                width:40vw;
                p{
                    font-size: 3.5em;
                    font-weight: 900;
                    text-align: center;
                }
            }
            #paragraph{
                width: 15vw;
                text-align: center;
                align-self: center;
            }
        }
        #callToActionDiv{
            button{
                background-color: aquamarine;
                border: 0.11em green solid;
                color: rgb(255, 255, 255);
            }
        }
    }
    #abslouteContentContainer *{
        z-index: 20;
    }
    #model{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (orientation:'landscape'){
    #header{
        margin: 1.5em 3em;
        justify-content: space-between;
        #authenticator{
            display: flex;
            #userDiv{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        #authButtonDiv{
            display: flex;
            align-items: center;
            gap: 1vw;
            button{
                font-size: 0.5em;
                color: black;
                line-height: 0;
                text-transform: none;
                letter-spacing: 0;
                padding: 1.5em;
                font-weight: 900;
                width: 2em;
                border-color: black;
                background-color: whitesmoke;
                span{
                    line-height: 0;
                    text-transform: none;
                }
            }
        }
        #navBar{
            display: flex;
            gap: 2vw;
            align-items: center;
            font-weight: 700;
            a{
                color: rgb(206, 202, 202);
                text-decoration: none;
            }
            .navLinks:hover{
                color: white;
            }
        }
        #menu{
            display:none;
        }
    }
}