


#singleCarContainer{
    width: 100vw;
    min-height: 100vh;
    color: black;
    margin:0;
    padding: 0;
    #carImageDiv{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 50vh;
        background-color: rgb(51, 51, 51);
        border-bottom-left-radius: 3em;
        border-bottom-right-radius: 3em;

        img{
            height: auto;
            width: 100%;
        }
        #carImageTextSpan{
            position: absolute;
            display: flex;
            width: 70%;
            top: 5%;
            left: 0;
            img{
                width: 30%;
                height: auto;
            }
            #cartitleNyearSpan{
                color: white;
                h2{
                    font-weight: 900;
                }
                p{
                    color: rgb(164, 163, 163);
                    font-weight: 900;
                }
            }
        }
    }
    #descriptiveDiv{
        margin-top: 1em;
        height: 30%;

        h2{
            padding-left: 1em;
        }

        #carSpecificationDiv{
            h2{
                font-weight: 900;
                color: rgb(177, 177, 177);
            }
            #featuresDiv{
                margin-top: 0.5em;
                height: 16vh;
                #swipeRR{
                    height: 100%;
                    #SwipeRslide{
                        height: 100%;
                        #singleFeature{
                            width: 35vw;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            height: 90%;
                            background-color: rgb(0, 0, 0);
                            color: aquamarine;
                            border-radius: 1.2em;
                            #icon{
                                height: 35%;
                                width: auto;
                            }
                            #featureValueSpan{
                                display: flex;
                                width: 100%;
                                align-items: center;
                                justify-content: center;
                                p{
                                    text-align: center;
                                    display: inline-block;
                                    width: 100%;
                                    white-space: nowrap;
                                    overflow-x: hidden;
                                    text-overflow: ellipsis;
                                    text-transform: capitalize;
                                    color: rgb(163, 160, 160);
                                }
                            }
                        }
                    }
                }
            }
        }
        #carLocationDiv{
            display: flex;
            flex-direction: column;
            #locatinHeaderDiv{
                display: flex;
                justify-content: space-between;
                #locationText{
                    font-size: 1.5em;
                    font-weight: 900;
                    padding-left: 0.8em;
                    color: rgb(177, 177, 177);
                }
                #meters{
                    font-size: 1.2em;
                }
                #leftOfLocation{
                    padding-right: 1em;
                    display: flex;
                    color: gray;
                    align-items: flex-end;
                    p{
                        color: gray;
                    }
                }
            }
            #actualLocationComponent{
                display: flex;
                align-self: center;
                align-items: center;
                padding: 1em;
                gap: 1em;
                width: 90%;
                border-radius: 0.8em;
                background-color: rgb(241, 241, 241);
                #placeIcon{
                    color: aquamarine;
                }
                p{
                    width: 90%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 1.2em;
                    font-weight: 500;
                }
            }
        }
    }
    #priceComponent{
        margin-top: 1.5em;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 14%;
        background-color: rgb(241, 241, 241);
        width: 95%;
        margin-left: 2.5%;
        border-radius: 1.2em;
        #pricePDiv{
            display: flex;
            font-size: 1.8em;
            margin-left: 0.5em;
            margin-bottom: 1em;
            font-weight: 900;
            text-transform: capitalize;
            color: rgb(67, 67, 67);
        }
        span{
            width: 50%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: aquamarine;
            border-top-left-radius: 1.5em;
            border-bottom-right-radius: 1.5em;
            font-size: 1.5em;
        }
    }
}

@media (orientation:'landscape'){
    #singleCarContainer{
        #carImageDiv{
            height: 55vh;
            justify-content: center;
            border-bottom-left-radius:0;
            border-bottom-right-radius:0;
            background-color: rgb(87, 87, 87);
            img{
                width: auto;
                height: 100%;
                justify-self: center;
            }
            #carImageTextSpan{
                width: 30%;
                align-items: center;
                img{
                    width: 40%;
                }
            }
        }
        #descriptiveDiv{
            #carLocationDiv{
                #locatinHeaderDiv{
                    width: 90%;
                    padding: 0 5%;
                    margin-bottom: 1em;
                }
                #actualLocationComponent{
                    border-radius: 0;
                }
            }
        }
        #priceComponent{
            margin-top: 0;
            width: 90%;
            margin: 0 5%;
            padding-top: 2em;
            border-radius: 0;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
            margin-bottom: 4em;
        }
    }
}